h1, p, div{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.center{
    align-content: center;
    text-align: center;
}

.divideScreen{
    display: flex;
    position: relative;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}

.halfScreen{
    width: 50%;
    align-items: center;
    text-align: center;
}

.mainPageButton{
    width: 30vw;
    height: 10vh;
    margin: 1%;
    background-color: bisque;
    color:chartreuse;
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
}

.mainPageBackground{
    background-image: url('Images/brawlBackground1.png');
}


.shopCard{
    background-color: goldenrod;
    width: 30%;
    text-align: center;
    font-weight: bold;
    margin: 5%;
    height: 50vh;
    font-size: 1vw;
}

.drunkPowersCard{
    background-color: goldenrod;
    width: 50%;
    text-align: center;
    font-weight: bold;
    margin: 5%;
    height: 50vh;
    font-size: 1vw;
}

.shopItemImage{
    margin: 5%;
    height: 20vh;
    background-color:antiquewhite;
}

.shopBuyButton{
    width: 50%;
    height: 10%;
    cursor: pointer;
    font-size: 1vw;
}

.backHomeButton{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 15%;
    padding-right: 15%;
    background-color: bisque;
    cursor: pointer;
    font-weight: bold;
    font-size: 1vw;
}

.banner{
    background-color: antiquewhite;
    width: 50vw;
    margin-left: 25%;
    font-size: 2vw;
    font-weight: bolder;
    color: chartreuse;
}

.enemyImage{
    padding: 2%;
    background-color:cadetblue;
}

.sideBar{
    position: absolute;
    z-index: 2;
    width: 10%;
    height: 40%;
    background-color:burlywood;
    color: chartreuse;
    margin: 5%;
    right: 5%;
    top: 10%;
    font-weight: bold;
    text-align: center;
    font-size: 1vw;
}

.sideBarButton{
    width: 100%;
    height: 10%;
    cursor: pointer;
    background-color: bisque;
    margin-top: 2%;
    font-size: 1vw;
}

.actionArea{
    background-color: bisque;
    position: relative;
    width: 50%;
    left: 25%;
}

.actionButton{
    width: 30%;
    background-color: burlywood;
    color: chartreuse;
    cursor: pointer;
    position: relative;
    margin: 2%;
    font-size: 1.5vw;

}

.healthAndTolerance{
    background-color: burlywood;
    color: chartreuse;
    position: relative;
    font-size: 1.5vw;
    width: 10%;
    left: 45%;
    border-radius: 25%;
}